# dependencies
node_modules/
package-lock.json

# build
build/
dist/

# env
.env

# flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# logs
*.log

# credentials
serviceAccountKey.json
*serviceAccountKey.json
google-services.json
GoogleService-Info.plist
*.jks
*.keystore

# uploads
uploads/
**/uploads/
**/dist/
**/node_modules/